global
    log /dev/log    local0
    log /dev/log    local1 notice
    stats timeout 120s
    maxconn 4096
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 15s
    timeout client  15s
    timeout server  15s
    stats enable
    stats hide-version
    stats refresh 30s
    stats show-node
    stats uri /haproxy?stats

frontend http_80_frontend
    bind *:80
    mode http
    #docker container haproxy config http_frontend
#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items hook http_frontend proxy config -->
 acl hook hdr(host) -i hook.projecteka.in
 use_backend hook if { hdr(host) -i hook.projecteka.in }

 acl identity-server-dev hdr(host) -i identity-dev.projecteka.in
 use_backend identity-server if identity-server-dev

 redirect scheme https code 301 if !{ hdr(host) -i hook.projecteka.in } !{ hdr(host) -i identity-dev.projecteka.in } !{ ssl_fc }

#<!-- END ANSIBLE MANAGED BLOCK docker items hook http_frontend proxy config -->

frontend https_443_frontend
    bind *:443 ssl crt /etc/ncg-certs/{{certs_name}}
    option tcplog
    mode http
    acl dockernode01 hdr(host) -i dockernode01.projecteka.in
    use_backend dockernode01 if { hdr(host) -i dockernode01.projecteka.in }
      #docker container haproxy config frontend
 acl ncg-dev hdr(host) -i {{certs_name}}
#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items consent-manager-dev frontend proxy config -->
 acl consent-manager path_beg /consent-manager
 acl consent-manager-swagger path_beg /api.yaml
 use_backend consent-manager if ncg-dev consent-manager || ncg-dev consent-manager-swagger
#<!-- END ANSIBLE MANAGED BLOCK docker items consent-manager-dev frontend proxy config -->

#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items consent-manager-dev frontend proxy config -->
 acl central-registry path_beg /central-registry
 use_backend central-registry if ncg-dev central-registry
#<!-- END ANSIBLE MANAGED BLOCK docker items consent-manager-dev frontend proxy config -->


#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items hip-dev frontend proxy config -->
 acl hip path_beg /hip
 use_backend hip if ncg-dev hip
#<!-- END ANSIBLE MANAGED BLOCK docker items hip-dev frontend proxy config -->

#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items hiu-dev frontend proxy config -->
 acl hiu-bundle path_beg /bundle.js
 acl hiu-favicon path_beg /favicon.ico
 acl hiu-styles path_beg /styles/fonts.css
 acl hiu-fonts path_beg /static/fonts/Roboto-Light.ttf
 acl hiu-swagger path_beg /swagger.yaml
 acl hiu-api path_beg /hiu-api
 acl hiu-ui path_beg /hiu
 acl orthanc path_beg /hiu/dicom-server

 use_backend hiu-backend if ncg-dev hiu-swagger || ncg-dev hiu-api
 use_backend orthanc if ncg-dev orthanc
 use_backend hiu-ui if ncg-dev hiu-ui || hiu-bundle || hiu-favicon || hiu-styles || hiu-fonts
#<!-- END ANSIBLE MANAGED BLOCK docker items hiu-dev frontend proxy config -->
backend dockernode01
  mode http
  server dockernode01 172.16.2.27:9051
#docker container haproxy config backend
#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items consent-manager-dev  backend proxy config -->
backend consent-manager
mode http
reqrep ^([^\ ]*\ /)consent-manager[/]?(.*)     \1\2
server consent-manager 172.16.2.27:9051
#<!-- END ANSIBLE MANAGED BLOCK docker items consent-manager-dev  backend proxy config -->
#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items hiu-dev  backend proxy config -->
backend hiu-backend
mode http
reqrep ^([^\ ]*\ /)hiu-api[/]?(.*)     \1\2
server hiu-backend 172.16.2.27:9053
backend hiu-ui
mode http
reqrep ^([^\ ]*\ /)hiu[/]?(.*)     \1\2
server hiu-ui 172.16.2.27:6000
#<!-- END ANSIBLE MANAGED BLOCK docker items hiu-dev  backend proxy config -->
#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items hook  backend proxy config -->
 backend hook
 mode http
 server hook 172.16.2.27:8555
#<!-- END ANSIBLE MANAGED BLOCK docker items hook  backend proxy config -->
#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items hip-dev  backend proxy config -->
backend hip
mode http
reqrep ^([^\ ]*\ /)hip[/]?(.*)     \1\2
server hip 172.16.2.27:9052
#<!-- END ANSIBLE MANAGED BLOCK docker items hip-dev  backend proxy config -->

backend identity-server
  mode http
  server identity-server 172.16.2.27:8081

backend central-registry
  mode http
  reqrep ^([^\ ]*\ /)central-registry[/]?(.*)     \1\2
  server central-registry 172.16.2.27:8080

backend orthanc
  mode http
  reqrep ^([^\ ]*\ /)hiu\/dicom-