global
    log /dev/log    local0
    log /dev/log    local1 notice
    stats timeout 120s
    maxconn 4096
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 15s
    timeout client  15s
    timeout server  15s

frontend http_80_frontend
    bind *:80
    mode http
    redirect scheme https code 301 if !{ ssl_fc }

frontend https_443_frontend
    bind *:443 ssl crt /etc/ncg-certs/*.projecteka.in.pem
    option tcplog
    mode http
       acl dockernode01 hdr(host) -i dockernode01.projecteka.in
    use_backend dockernode01 if { hdr(host) -i dockernode01.projecteka.in }
      #docker container haproxy config frontend
#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items hip-dev frontend proxy config -->
 acl hip-dev hdr(host) -i hip-dev.projecteka.in
 use_backend hip-dev if { hdr(host) -i hip-dev.projecteka.in }

#<!-- END ANSIBLE MANAGED BLOCK docker items hook frontend proxy config -->
#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items consent-manager-dev frontend proxy config -->
 acl consent-manager-dev hdr(host) -i consent-manager-dev.projecteka.in
 use_backend consent-manager-dev if { hdr(host) -i consent-manager-dev.projecteka.in }

#<!-- END ANSIBLE MANAGED BLOCK docker items consent-manager-dev frontend proxy config -->


 acl hiu-swagger path_beg /swagger.yaml
 acl hiu-dev path_beg /api
 use_backend hiu-dev if hiu-dev or hiu-swagger


#<!-- END ANSIBLE MANAGED BLOCK docker items hip-dev frontend proxy config -->
#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items hiu-dev frontend proxy config -->
 acl hiu-ui hdr(host) -i hiu-dev.projecteka.in
 use_backend hiu-ui if { hdr(host) -i hiu-dev.projecteka.in }

#<!-- END ANSIBLE MANAGED BLOCK docker items hiu-dev frontend proxy config -->
#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items hook frontend proxy config -->
 acl hook hdr(host) -i hook.projecteka.in
 use_backend hook if { hdr(host) -i hook.projecteka.in }

backend dockernode01
  mode http
server dockernode01 172.16.2.27:9051
#docker container haproxy config backend
#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items hip-dev  backend proxy config -->
backend hip-dev
mode http
server hip-dev 172.16.2.27:9052

#<!-- END ANSIBLE MANAGED BLOCK docker items hip-dev  backend proxy config -->
#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items hiu-dev  backend proxy config -->
backend hiu-ui
mode http
server hiu-ui 172.16.2.27:6000

#<!-- END ANSIBLE MANAGED BLOCK docker items hiu-dev  backend proxy config -->
#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items hook  backend proxy config -->
backend hook
mode http
server hook 172.16.2.27:8555

#<!-- END ANSIBLE MANAGED BLOCK docker items hook  backend proxy config -->
#<!-- BEGIN ANSIBLE MANAGED BLOCK docker items consent-manager-dev  backend proxy config -->
backend consent-manager-dev
mode http
server consent-manager-dev 172.16.2.27:9051

#<!-- END ANSIBLE MANAGED BLOCK docker items consent-manager-dev  backend proxy config -->

backend hiu-dev
    mode http
    reqrep ^([^\ ]*\ /)api[/]?(.*)     \1\2
    server hiu-dev 172.16.2.27:9053